* {
    background-color: #4CC9F0;
}

h1 {
    text-align: center;
}

/* color pallet https://coolors.co/f72585-b5179e-7209b7-560bad-480ca8-3a0ca3-3f37c9-4361ee-4895ef-4cc9f0 */



.gameboard {
    position: relative;
}

#middle-tower {
    margin: 0 10px;
}

#disk1 {
    width: 100%;
    height: 10px;
}
#disk2 {
    width: 75%;
    height: 10px;
}
#disk3 {
    width: 50%;
    height: 10px;
}
.disk {

}

.boxes > div{

    margin: 200px 10px;
    border: 10px;
    padding: 10px;
    color: white;
    height: 200px;
    width: 100px;
    border-bottom: 5px solid black;
    text-align: center;

    background-image: linear-gradient(#000, #000);
    background-size: 5px 100%;
    background-repeat: no-repeat;
    background-position: center center;

}



.boxes {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

hr {
    color: black;
    background: black;
}