/* fonts */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Poiret+One&family=Roboto:wght@100;300;400;700;900&family=Rubik:wght@300;400;500&family=Source+Sans+Pro:wght@300;400;700&display=swap');

* {
    background-color: #4CC9F0;
}

h1 {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

/* color pallet https://coolors.co/f72585-b5179e-7209b7-560bad-480ca8-3a0ca3-3f37c9-4361ee-4895ef-4cc9f0 */


.gameboard {
    position: relative;
}

#disk1 {
    width: 100%;
    /* height: 10px; */
}
#disk2 {
    width: 75%;
    /* height: 10px; */
}
#disk3 {
    width: 50%;
    /* height: 10px; */
}

#disk4 {
    width: 35%;
}

#disk5 {
    width: 20%;
}

.disk {
    height: 10px;
    transition: all 1s;
    padding: 2px;
}

.disk:hover {
    background-color: black;
}

.boxes > div{

    margin: 100px 10px;
    border: 10px;
    padding: 10px;
    color: white;
    height: 100px;
    width: 100px;
    border-bottom: 5px solid black;
    text-align: center;

    background-image: linear-gradient(#000, #000);
    background-size: 5px 100%;
    background-repeat: no-repeat;
    background-position: center center;

}

#box-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#box-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#box-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.boxes {
    display: flex;
    justify-content: center;
    /* margin-top: 50px; */
}

#restart {

position: relative;
left: 45%;
}

.levels {

display: flex;
justify-content: space-evenly;

}


button {

padding: 0.2em 1.3em;
margin: 0 0.3em 0.3em 0;
border-radius: 2em;
font-family: 'Source Sans Pro',sans-serif;
font-weight: 500;

}


.selectedDisk {
    background-color: black;
}