* {
    background-color: burlywood;
}

h1 {
    text-align: center;
}

.towers {

    /* display: inline-block;
    padding: 5px; */
    /* background: red;
    background-color: red; */

    display: flex;
    flex-direction: row;
    padding: 50%; 
    justify-content: center;
    
}

.gameboard {
    position: relative;
}

.disks {

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: absolute;
    cursor: grab;

}

#middle-tower {
    margin: 0 10px;
}

#disk1 {
    width: 10%;
}
#disk2 {
    width: 8%;
}
#disk3 {
    width: 5%;
}

.disks > img {
    margin: 1px;
    height: 6px;
}

.left-side {
    position: relative;
    top: 505px;
    left: -90px;
}

.middle-side {
    position: relative;
    top: 505px;
    left: 0px;
}