/* fonts */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Poiret+One&family=Roboto:wght@100;300;400;700;900&family=Rubik:wght@300;400;500&family=Source+Sans+Pro:wght@300;400;700&display=swap');

* {

    /* background-color: rgb(0, 0, 0); */

    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}


.body{
    background-color:#4CC9F0;
     
     /* background-color: rgb(0, 0, 0, .9) */
;
}


/* color pallet https://coolors.co/f72585-b5179e-7209b7-560bad-480ca8-3a0ca3-3f37c9-4361ee-4895ef-4cc9f0 

F72585 Flickr Pink
 B5179E Byzantine
 7209B7 Purple
 560BAD Purple
 480CA8 Trypan Blue
 3A0CA3 Trypan Blue
 3F37C9 Persian Blue
 4361EE Ultramarine Blue
 4895EF Dodger Blue
 */


.gameboard {
    position: relative;
}

#disk1 {
    width: 100%;
}
#disk2 {
    width: 75%;
}
#disk3 {
    width: 50%;
}

#disk4 {
    width: 25%;
}

#disk5 {
    width: 15%;
}

.disk {
    height: 10px;
    transition: all 1s;
    padding: 2px;
    border-radius: 5px;
}
.disks{
    display: none;
}
.diskHide {
    display: none;
}

.disk:hover {
    background-color: black;
}

.boxes > div{

    margin: 100px 10px 50px 10px;
    border: 10px;
    padding: 10px;
    height: 100px;
    width: 100px;
    border-bottom: 5px solid black;
    text-align: center;

    background-image: linear-gradient(#000, #000);
    background-size: 5px 100%;
    background-repeat: no-repeat;
    background-position: center center;

}

#box-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#box-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#box-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.boxes {
    display: flex;
    justify-content: center;
}

.levels {

display: flex;
justify-content: center;

}

.levels > button {
    margin: 0 20px
}

/* remove this class when level button is selected */
button {

padding: 0.3em 1.3em;
margin: 1em;
border-radius: 2em;
font-family: 'Source Sans Pro',sans-serif;
font-weight: 500;
background-color: #4895EF;

}


/* change level buttons to this class when selected */
.levelToggle {
    padding: 0.3em 1.3em;
    margin: 1em;
    border-radius: 2em;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 500;   
    background-color: #F72585;
}


.selectedDisk {
    background-color: white;
}

#instructionsID {
    text-align: center;
    margin: 100px;
    position: absolute;
     /* Black w/ opacity */
     color: white;
     opacity: 1;
     /* background-color: (#480CA8, .9); */
     border-radius: 5px;


}

.bottomButtons {
    display: flex;
    justify-content: center;
}

.instructionFocus {
    display: none;
}

.instructionsButton {
    display: flex;
    justify-content: space-evenly;
}

#closeInstructions {
    float: right;
    font-size: 25px;
}
#closeInstructions:hover{
    text-decoration: none;
    font-size: 30px;
    cursor: grab;
}

.winScreen {

    text-align: center;
    margin: 100px;
    position: absolute;
     /* Black w/ opacity */
     color: white;
     opacity: 1;
     /* background-color: (#480CA8, .9); */
     border-radius: 5px;

}

.bodyBlackout {
 background-color: rgb(0,0,0,.9)
 /* display: none; */
}
.hide{
    display: none;
}